.cargo/
*.pdb
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source.vscode/

# Distribution artifacts
*.deb
*.rpm
*.tar.gz
*.AppImage
*.snap

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
