[Desktop Entry]
Name=Caffeine
Comment=Prevent system sleep and screen lock
Type=Application
Exec=caffeine
Terminal=false
Categories=COSMIC;Utility;
Keywords=COSMIC;caffeine;sleep;power;inhibit;
Icon=oussama-berchi-caffeine-cosmic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
