name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: rustup default stable
      - name: Check formatting
        run: cargo fmt --check
      - name: Check clippy
        run: cargo clippy --all-features --all-targets -- -D warnings
      - name: Check
        run: cargo check --all-features

  build:
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: rustup default stable
      - name: Build release
        run: cargo build --release

  test:
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: rustup default stable
      - name: Run tests
        run: cargo test --all-features
